* { margin:0; padding:0; } /* to remove the top and left whitespace */

/* Make sure html and body take up full screen */
html, body{
    height:100%; 
    width:100%;
}
/* Get rid of scrollbars */
canvas{
    display:block;
}